.rgbGlowEffect {
    animation: rgbGlowEffect 6s ease-in-out infinite;
  }
  
  
  @keyframes rgbGlowEffect {
    0%, 100% { text-shadow: 0 0 10px #FF0000, 0 0 20px #FF0000, 0 0 30px #FF0000; }
    25% { text-shadow: 0 0 10px #00FF00, 0 0 20px #00FF00, 0 0 30px #00FF00; }
    50% { text-shadow: 0 0 10px #0000FF, 0 0 20px #0000FF, 0 0 30px #0000FF; }
    75% { text-shadow: 0 0 10px #FF00FF, 0 0 20px #FF00FF, 0 0 30px #FF00FF; }
    100% { text-shadow: 0 0 10px #FF0000, 0 0 20px #FF0000, 0 0 30px #FF0000; }
  }
  
  
  .textDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 58px;
    height: 400px;
    width: 750px;
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #3D3D3E;
    color: #ffffff;
    overflow: hidden;
  }
  .textDisplay.glow {
    text-shadow: 0 0 10px #2196f3, 0 0 20px #2196f3, 0 0 30px #2196f3;
  }
  
  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    left: 10px;
    width: 60px; /* Width of the switch */
    height: 35px; /* Height of the switch */
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc; /* Slider background */
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px; /* Height of the slider knob */
    width: 26px; /* Width of the slider knob */
    left: 4px;
    bottom: 4px;
    background-color: white; /* Slider knob color */
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #6F5AA5; /* Background color when toggled on */
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px); /* Slide the knob to the right when toggled */
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 15px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }