/* ColorSelector Component */
.colorSelector {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    gap: 10px;
  }
  
  .scrollContainer {
    display: flex;
    flex-direction: row;
  }
  
  .colorBox {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s ease;
    margin-right: 15px;
  }
  
  .colorBox.rgb {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s ease;
    margin-right: 10px;
    background: conic-gradient( #FFD700, #FF69B4, #ADD8E6, #8F00FF, #FFFFFF, #0D98BA                               , #FAFA33 );
  }
  
  .colorBox.selected {
    border-color: white;
  }