.main-container {
  text-align: center;
  /* Other styles as needed */
}

.welcome-header {
  margin-top: 300px;
  margin-bottom: 100px;
  color: black; /* Your preferred color */
}

.section1 {
  padding: 100px; /* Adjust as needed */
  margin: 10px 0; /* Spacing between sections */
  /* Add more styling as needed */
}

.section2 {
  padding: 100px; /* Adjust as needed */
  margin: 10px 0; /* Spacing between sections */
  /* Add more styling as needed */
}

.section3 {
  padding: 100px; /* Adjust as needed */
  margin: 10px 0; /* Spacing between sections */
  /* Add more styling as needed */
}

.section4 {
  padding: 100px; /* Adjust as needed */
  margin: 10px 0; /* Spacing between sections */
  /* Add more styling as needed */
}

.section5 {
  padding: 100px; /* Adjust as needed */
  margin: 10px 0; /* Spacing between sections */
  /* Add more styling as needed */
}

.section6 {
  padding: 100px; /* Adjust as needed */
  margin: 10px 0; /* Spacing between sections */
  /* Add more styling as needed */
}

.section7 {
  padding: 100px; /* Adjust as needed */
  margin: 10px 0; /* Spacing between sections */
  /* Add more styling as needed */
}

.section8 {
  padding: 100px; /* Adjust as needed */
  margin: 10px 0; /* Spacing between sections */
  /* Add more styling as needed */
}


/* Other styles (main-container, footer, etc.) */


.footer {
  position: fixed;
  bottom: 0;
  
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px; /* Adjust padding as needed */
}

