/* FontSelector Component */
.fontSelector button {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 4px; /* Rounded corners */
  }
  
  .fontSelector {
    overflow-x: auto;
    white-space: nowrap;
  }
  
  .scrollContainer {
    display: flex;
    flex-direction: row;
  }
  
  .fontBox {
    width: 100px; /* Fixed width */
    padding: 10px 20px; /* Vertical and horizontal padding */
    margin: 0 5px; /* Space between buttons */
    text-align: center; /* Center the text */
    cursor: pointer;
    border: 1px solid white;
    border-radius: 4px;
    text-align: center;
    background-color: transparent;
    transition: all 0.3s ease;
  }
  
  .fontBox button:hover {
    background-color: #9C8AC8;
   }
  
  .fontBox button.selected {
    background-color: #9C8AC8;
  }