/* PresetSizeSelector Component */
.presetSizeSelector {
    display: flex;
    justify-content: center;
  }
  
  .presetSizeSelector button {
    padding: 10px 30px; /* Vertical and horizontal padding */
    margin: 0 10px; /* Space between buttons */
    height: 60px;
    width: 700px;
    margin-bottom: 10px;
    text-align: center; /* Center the text */
    border: 1px solid white; /* Border styling */
    border-radius: 4px; /* Rounded corners */
    background-color: transparent; /* Background color */
    cursor: pointer; /* Cursor style */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    color: white;
  }
  
  .presetSizeSelector button:hover{
    background-color: #8C7BB7;
  }
  
  .presetSizeSelector button.selected {
    border-color: #8C7BB7;
    background-color: #9C8AC8; /* Background color for selected state */
  }

  