.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
  }
  
  .footer .cost {
    margin-left: 5px;
    /* Styling for the cost section */
  }
  
  .footer .addToCart {
    /* Styling for the add to cart button section */
  }
  
  .footer .addToCart button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 40px;
    /* Add more button styling as needed */
  }