@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer base {
  body {
    @apply bg-body-bg bg-gradient-radial;
  }
}

@keyframes rgbGlow {
  0% { text-shadow: 0 0 5px #FF0000, 0 0 10px #FF0000, 0 0 20px #FF0077; }
  33% { text-shadow: 0 0 5px #00FF00, 0 0 10px #00FF00, 0 0 20px #00FF77; }
  66% { text-shadow: 0 0 5px #0000FF, 0 0 10px #0000FF, 0 0 20px #0077FF; }
  100% { text-shadow: 0 0 5px #FF0000, 0 0 10px #FF0000, 0 0 20px #FF0077; }
}

.rgb-glow {
  animation: rgbGlow 3s infinite alternate;
}
