/* Global Styles */
body {
  background-color: #5A6AA5;
  background-image: radial-gradient(circle, #6F5AA5, #955AA5, #5A6AA5);
  /* background-image: url("/Users/octaviosanchez/neon_sign_builder_tool/mysigntool/styles/high-definition-aesthetic-cyberpunk-perspective-3osdslxcrxhfvhl0.webp");
  background-repeat: no-repeat;
  background-size: cover; */
}